# Ignore everything by default
*

# But keep this .gitignore file and main.cpp
!.gitignore
!main.cpp

# Allow Git to recurse into directories when needed
!*/

# Allow this nested Markdown file
!discreteMathematics/
!discreteMathematics/reportTipMemo.md
!informationLearning/communicationMethod/I2C-Communication.md
!informationLearning/controlMethod/PID-Control.md
!informationLearning/ADC.md
